.sebm-google-map-container {
height: 100vh !important;
width: 100% !important;
position: fixed !important;
margin-bottom: 90px;

z-index: 0;
}
md-sidenav {
  width: 320px;
}
.sidenavPosition{
    margin-top: 65px;
}
.btnOpen{
  z-index: 2;
  position: absolute;
  left: 5px;
  top: 70px;
}
.btnClose{
  z-index: 2;
  position: absolute;
  left: 320px;
  top: 80px;
}
.bc-color {
    background-color:#f8f5f0;
}