.menu-spacer {
  flex: 1 1 auto;
}
.md-toolbar{
position: fixed !important;
}


    /*.md-toolbar {
        height: 64px !important;
    }*/

@media (max-width: 960px) {
    .md-toolbar {
     height: 48px !important;
    }
}
