
<div [class.m2app-dark]="isDarkTheme">
  <md-toolbar color="primary" style="box-shadow: 0 2px 12px #999;z-index: 1;position: relative;">
    <span>
      <md-icon class="icon-20">pets</md-icon>
      Stadt Oldenburg
    </span>
    <span class="nav-menu-spacer"></span>
   
    <button md-button routerLink="/home">Home</button>

    <button md-button [md-menu-trigger-for]="parking">
      Parking
    </button>

    <button  md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

                        <!--  Parking Menu-->
  <md-menu x-position="before" #parking="mdMenu">
    <button md-menu-item routerLink="/parkingtable" routerLinkActive="active">table</button>
    <button md-menu-item routerLink="/parkingmap" routerLinkActive="active">map</button>
  </md-menu>
                        <!--  Seting Menu-->
  <md-menu x-position="before" #menu="mdMenu">
    <!--<button md-menu-item (click)="openDialog()">Settings</button>-->
    <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle theme</button>
    <!--<button md-menu-item>Help</button>-->
  </md-menu>

    <!--Current URL is: <code>{{location.path()}}</code><br>-->
    <!--Normalize: <code>/foo/bar/</code> is: <code>{{location.normalize('foo/bar')}}</code><br>-->
<router-outlet></router-outlet>


</div>