/*table parking*/

table {
    border-collapse: collapse;
    width: 100%;
}
.bc-color {
    background-color:#f8f5f0;
}
.bc-img-color {
    background-color:#f8f5f0;
    background-image:url('./assets/img/bg_tabelle3-1.jpg');
    background-repeat:no-repeat;
    background-position:left top;

}
.dataHeaderTable{
    
    /*background-color:#f8f5f0;*/
    text-align:center;
}

th, td {
    text-align: center;
    padding: 8px;
}
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}
.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}
.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}
.active{background-color:  #FFFCFA}
th {
    background-color: #fecb00;
    color: white;
}
@media screen and (min-width: 600px) {
    .dataTable{
        width: 600px;  
        margin: auto;
        /*background-color:#faf8f4;*/
    }
}
@media screen and (max-width:599px ) {
    .dataTable{
        width: 100%;  
        margin: auto;
        /*background-color:#faf8f4;*/
    }
}

@media screen and (min-width: 600px) {
    md-sidenav-layout {
        margin-top: 64px;
    }
}
@media screen and (max-width: 599px) {
    md-sidenav-layout {
     margin-top: 56px;
    }
}
@media screen and (max-width:960px) and (min-width: 955px) {
    md-sidenav-layout {
     margin-top: 48px;
    }
}
@media screen and (max-height: 801px) {
    md-sidenav-layout {
     margin-top: 48px;
    }
}
@media (max-height: 802px)and (min-height: 802px) and (max-width:954px) and (min-width: 803px) {
    md-sidenav-layout {
     margin-top: 48px;
    }
}
md-sidenav {
  width: 320px;
}
.orange {
    color: Orange;
}
.greene {
     color: Green; 
}
.red {
    color: Red;
}

.text-center{
   text-align:center;
}

/*scrolling table*/


        /*.dataTable thead, .dataTable tbody, .dataTable tr, .dataTable td, .dataTable th { display: block; }

        .dataTable tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        .dataTable thead th {
            height: 30px;

            text-align: left;
        }

        .dataTable tbody {
            height: 358px;
            overflow-y: auto;
        }

        thead {
            
        }


        .dataTable tbody td, .dataTable thead th {
            width: 25%;
            float: left;
        }*/