<md-sidenav-layout fullscreen>
    <md-sidenav align="end" mode="over" #sidenav class="bc-color">        
        <div  *ngIf="!(currentPark.Name == null)" >
          <table width="100%"  >
          <tr>
            <td><h1> {{currentPark.Name}}</h1>Letzte Aktualisierung: {{lastTime}}</td>
          </tr>
          </table>
            <table>
              <tr >
                <th>Freie Plätze</th>
                <th>Trend</th>
                <th>Status</th>
              </tr>
             <tr [ngClass]="currentPark | opencloseFilter" > 
              <td [ngClass]="currentPark.Gesamt-currentPark.Aktuell | freiplatzeFilter"><h4>{{currentPark.Gesamt-currentPark.Aktuell}}</h4></td>
              <td><img src="./assets/img/pfeil-{{currentPark.Trend}}.gif"  height="30" width="30"/></td>
              <td [ngClass]="currentPark.Status | statusFilter "> <h4>{{currentPark.Status}}</h4></td>
             </tr> 
            </table>
        </div>
        <app-carousel ></app-carousel>
        <button md-raised-button (click)="closeSidenave()" color="accent">CLOSE</button>
        <div routerLink="/parkingmap">
           <side-map></side-map>
        </div>
        <!--<br>
        <br>
        <br>-->
    </md-sidenav>
  <div class="bc-color">    
    <table class="text-center dataHeaderTable" width="100%"  background="./assets/img/bg_tabelle3-1.jpg">
      <tr>
        <td  >
          <h3>Parkleit-Informationssystem
          <p>der Stadt Oldenburg</p></h3>
        </td>
      </tr>
      <tr>
        <td>Letzte Aktualisierung: {{lastTime}}</td>
      </tr>
    </table>     
    <table class="dataTable">
      <tr>
        <th>Parkhaus-Name</th>
        <th>Freie Plätze</th>
        <th>Trend</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let park of Parkhaus" (click)="showPark(park);appCarousel.carouselFromParkingtable(park.Name);sideMap.serchAddres(park.Name)" [hidden]="park.Name=='Ratsherren'|| park.Name=='Altes Gymnasium'" [ngClass]="park | opencloseFilter" >
        <td>{{park.Name}} </td>
        <td [ngClass]="park.Gesamt-park.Aktuell | freiplatzeFilter">{{park.Gesamt-park.Aktuell}}</td>
        <td > <img src="./assets/img/pfeil-{{park.Trend}}.gif"  height="15" width="15"/></td>
        <td [ngClass]="park.Status | statusFilter ">{{park.Status}}</td>
      </tr>
      <!--<br>
      <br>
      <br>-->
    </table>
  </div>

</md-sidenav-layout>
