<md-sidenav-layout>
    <md-sidenav align="end" mode="side" #sidenav>
      <md-tab-group>
        <md-tab>
          <template md-tab-label>Details</template>
          <div  *ngIf="!(currentPark.Name == null)" >
           <p>{{currentPark.Name}}</p>
           <p><img src="./assets/img/pfeil-{{currentPark.Trend}}.gif"  height="30" width="30"/></p>
          </div>
            <button md-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
         
        </md-tab>
        <md-tab>
          <template md-tab-label>Feed</template>
          
         
          
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <!--<md-grid-list cols="4" rowHeight="200px">-->
      

<table>
  <tr>
    <th>Parkhaus-Name</th>
    <th>Freie Plätze</th>
    <th>Trend</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let park of Parkhaus" (click)="showPark(park)" [hidden]="park.Name=='Ratsherren'|| park.Name=='Altes Gymnasium'" [ngClass]="park | opencloseFilter " >
    <td>{{park.Name}} </td>
    <td [ngClass]="park.Gesamt-park.Aktuell | freiplatzeFilter">{{park.Gesamt-park.Aktuell}}</td>
    <td > <img src="./assets/img/pfeil-{{park.Trend}}.gif"  height="15" width="15"/></td>
    <td [ngClass]="park.Status | statusFilter ">{{park.Status}}</td>
  </tr>
  
</table>
    <!--</md-grid-list>-->
  </md-sidenav-layout>
