/*table parking*/

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: center;
    padding: 8px;
}
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}
.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}
.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}
.active{background-color:  #FFFCFA}
th {
    background-color: #fecb00;
    color: white;
}


md-sidenav-layout {
height: 100vh !important;
width: 100% !important;
/*position: fixed !important;*/
}

md-sidenav {
  width: 320px;
}
.orange {
    color: Orange;
}
.greene {
     color: Green; 
}
.red {
    color: Red;
}

.text-center{
   text-align:center;
}
