/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body{
    margin: 0px; 
}

md-toolbar-row {
  justify-content: space-between;
}

p {
  margin: 16px;
}

[md-raised-button] {
  width: 100%;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}


.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html * {
    font-family: Arial ;
    
}

.md-sidenav-content{background-color:#f8f5f0;}

/**/
pre {
    white-space: pre-wrap;
}

.app-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 768px) {
  .app-loader {
    background-color: #fff;
  }
}

app-root:empty + .app-loader {
    opacity: 1;
    z-index: 100;
}
app-root:empty + .app-loader .logo {
    width: 20vh;
}
